
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,*::before,*::after{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    -purple:#9412e6;
    -orange:#f8a917;
}

/* logo text */
.port{padding-left: 10px;
    font-weight: bold;
    color: beige;
    font-size: 40px;

}
.folio{
    color: #f8a917;
    font-size: 25px;
    padding-left: 4px;
}
/* menu bar */
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    display:flex;
    background-color:#9412e6;
    width: 100%;
}
/* Dropdown Button */
.dropbtn{
    background-color:#9412e6;
    color:#9412e6;
    border: none;
}
.dropdown img{
    justify-content: flex-end;
    margin-left: 75vw;
    padding-top: 5px;
    max-width:20%;
    max-height: 50%;
}
.dropdown-content a {
    color: black;
    background-color:#9412e6;
    padding: 10px 10px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    display:flex;
    border-radius: 15px;
}
.dropdown-content {
    display: flex;
    position: absolute;
    background-color: #9412e6;
    min-width: 130px;
    z-index: 1;
    padding: 10px;
}
.dropdown-content a:hover {background-color: #ddd;}

.mainfooter{
    text-align:center;
    background-color: #8935f7;
    color: #f5f1f9;
}
.poster{
    margin: 0 0;
    padding: 0 0;
}
.poster img{
    width: 100%;
}
.mainposterbelow{
margin: 0 2rem;
}

.posterbelow{
width: 100%;
overflow: hidden;
    text-align: center;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    column-gap:10px;
    font-family: sans-serif;

}
.posterbelow div{
    margin-top: 10px;
    /* border-color: #8935f7; */
    display: block;
    margin: 0 1rem;
    padding: 0 1rem;
    font-family:sans-serif;
    /* border-style: solid; */
    border-radius: 8px;
    padding: 0 0;
    color: #000000;
    width: 100%;
    font-size: 1rem;

}
.posterbelow div img{
    width: 60%;
    border-radius: 100px;
    transition: all 1s ease-in-out;
}
.posterbelow div img:hover{
    width:64%;
    background-color: #f8e6c5;
    transition: all 1s ease-in-out;
}
.posterbelow div img:active{
    width:64%;
    background-color: #fbdfac;
}

@media screen and (max-width:770px){
/* Dropdown Button */
.dropbtn {
    background-color:#9412e6;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    justify-content: right;
}

  /* The container <div> - needed to position the dropdown content */
.dropdown {
    display:flex;
    background-color:#9412e6;
    width: 100%;
}

  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    justify-content: flex-end;
    display: none;
    position: absolute;
    background-color:#9412e6;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    background-color: #9412e6;
    padding: 12px 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    display: block;
}
.dropdown img{
    justify-content: flex-end;
    margin-left: 60vw;
    padding-top: 5px;
    width:20%;
    height: 50%;
}
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content{display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color:#f8a917;}
}